<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo Osorio - Portfolio Site</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <div class="sidebar" id="my-info">
        <div class="sidebar-info-box">
            <br>
            <div class="thumbnail-box">
                <img class="thumbnail" src="/static/images/eao.jpg" alt="Profile Pic">
            </div>
            <div class="dev-intro-box">
                <h5>Eduardo Osorio</h5>
                <p>Full Stack JavaScript Developer</p>
                <a id="about-link" href="/about">Learn More &rarr;</a>
            </div>
        </div>
    </div>


    <div class="wrapper">

        <div class="header">
            <div class="header-info-box">
                <button class="menu-icon" id="menu-icon" type="button" data-toggle="my-info"></button>
                <span>Eduardo Osorio</span>
            </div>
        </div>

        <%- body %>

    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>