<% layout('./layouts/boilerplate')%>
    <nav class="nav">
        <a href="/"><span>&larr;</span> Back</a>
    </nav>

    <article class="portfolio-about">
        <div class="inner-wrapper flex-row-wrap two-col">
            <div class="about-intro-box box">
                <h1>Eduardo Osorio</h1>
                <p>Full Stack JavaScript Developer</p>
                <div class="about-bio">
                    <p>
                        This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is
                        blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev
                        position.
                    </p>
                </div>
            </div>
            <div class="skills-contact-box box">
                <h6>Skills</h6>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>OOP</li>
                    <li>Fetch and Public APIs</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>EJS</li>
                    <li>Git and GitHub</li>
                    <li>VS Code</li>
                    <li>Accessibility</li>
                </ul>
                <h6>Contact Info</h6>
                <ul>
                    <li>+57 (314) 597-7802</li>
                    <li>eduardoaosorio95@gmail.com</li>
                </ul>
                <a class="btn-link" target="_blank" href="https://www.linkedin.com/">LinkedIn</a>
                <a class="btn-link" target="_blank" href="https://github.com/eduardoaosorio">GitHub</a>
                <a class="btn-link" target="_blank" href="https://twitter.com/?lang=en">Twitter</a>
            </div>
        </div>
        <nav class="nav">
            <a href="/"><span>&larr;</span> Back</a>
        </nav>
    </article>