<% layout('./layouts/boilerplate')%>
    <nav class="nav">
        <a href="/"><span>&larr;</span> Back</a>
    </nav>

    <article class="portfolio-about">
        <div class="inner-wrapper flex-row-wrap two-col">
            <div class="about-intro-box box">
                <h1>Eduardo Osorio</h1>
                <!-- Feel free to personalize the title below -->
                <p>Full Stack JavaScript Developer</p>
                <!-- extra ???? este p -->
                <p>Enamel pin shaman polaroid bitters. Venmo narwhal ut tattooed voluptate next level cred heirloom aute
                    reprehenderit small batch jianbing whatever wayfarers 8-bit. Qui ennui nostrud ut listicle bespoke
                    raclette commodo keffiyeh lomo labore. Fashion axe fixie aute, occaecat aesthetic twee cray anim la
                    croix keytar mustache raclette vinyl.</p>
                <div class="about-bio">
                    <!-- Replace the boilerplate below with your best elevator pitch -->
                    <p>
                        This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is
                        blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev
                        position.
                    </p>
                </div>
            </div>
            <div class="skills-contact-box box">
                <h6>Skills</h6>
                <!-- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills -->
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Git and GitHub</li>
                    <li>VS Code</li>
                    <li>Accessibility</li>
                    <li>OOP</li>
                    <li>Fetch and Public APIs</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>EJS</li>
                </ul>
                <h6>Contact Info</h6>
                <ul>
                    <li>+57 (314) 597-7802</li>
                    <li>eduardoaosorio95@gmail.com</li>
                </ul>
                <!-- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer -->
                <a class="btn-link" href="">LinkedIn</a>
                <a class="btn-link" href="">GitHub</a>
                <a class="btn-link" href="">Twitter</a>
            </div>
        </div>
        <nav class="nav">
            <a href="/"><span>&larr;</span> Back</a>
        </nav>
    </article>