<% layout('./layouts/boilerplate')%>
    <nav class="nav">
        <a href="/"><span>&larr;</span> Back</a>
    </nav>

    <article class="portfolio-about">
        <div class="inner-wrapper flex-row-wrap two-col">
            <div class="about-intro-box box">
                <h1>Eduardo Osorio</h1>
                <p>Full Stack JavaScript Developer</p>
                <div class="about-bio">
                    <p>
                        I'm a Full Stack JavaScript developer with a professional background in business. I'm passionate
                        about building modern web applications and providing engaging user experiences.

                        Continual education and keeping up with the latest technology trends are both very important to
                        me.

                        I look forward to applying my previous work experience in business to a new career in tech.

                        Located in Barranquilla, Colombia. Fully bilingual in English and Spanish. Available for hire.
                    </p>
                </div>
            </div>
            <div class="skills-contact-box box">
                <h6>Skills</h6>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>React</li>
                    <li>React Router</li>
                    <li>AJAX</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>RESTful API</li>
                    <li>EJS</li>
                    <li>Pug</li>
                    <li>Sequelize ORM</li>
                    <li>Mongoose ODM</li>
                    <li>OOP</li>
                    <li>Git and GitHub</li>
                </ul>
                <h6>Contact Info</h6>
                <ul>
                    <li>+57 (314) 597-7802</li>
                    <li>eduardoaosorio95@gmail.com</li>
                </ul>
                <a class="btn-link" target="_blank" href="https://www.linkedin.com/in/eduardo-osorio-99bba1209">LinkedIn</a>
                <a class="btn-link" target="_blank" href="https://github.com/eduardoaosorio">GitHub</a>
            </div>
        </div>
        <nav class="nav">
            <a href="/"><span>&larr;</span> Back</a>
        </nav>
    </article>