<% layout('./layouts/boilerplate')%>
    <article class="portfolio-intro">
        <h1>Hi, welcome to my website.</h1>
        <p>Checkout some of the things I've built. Click the thumbnails bellow to get more information about each project.</p>
    </article>

    <article class="portfolio-project-thumbs">
        <div class="projects-box box grid">
            <% for (let project of projects) { %>
                <div class="cell">
                    <a href="/projects/<%= project.id %>">
                        <img class="thumbnail" src="<%= project.imageUrls[0] %>" alt="Thumbnail of <%= project.name %> Project">
                        <h5><%= project.name %></h5> 
                    </a>
                </div>
            <% } %>
        </div>
    </article>